@charset "utf-8";

body{
  margin:0;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

  
}

section{

  border: 1px solid lightgray;
  width: 560px;
  margin: 32px auto 0;
  border-radius: 0;
  box-shadow: 0 0 16px black;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
h1{  
  background-color: blanchedalmond;
  margin: 0px ;
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid lightgray;
  font-size: 20px;
 
border: inherit;

}
p{
  margin:0;
line-height: 2.0;
padding: 4px;
background-color: beige;
box-sizing: border-box;
border: inherit;

}
